<p>abraham</p>

<div class=row>
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="card-product">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
      <div class="card-product-infos">
        <h2>Simulação 1</h2>
        <div class="sim-info">
          <p><strong>Data da Simulação</strong></p>
          <p>Product description with</p>
        </div>
        <div class="sim-info">
          <p><strong>Tipo de Mercado</strong></p>
          <p>Product description with</p>
        </div>
        <div class="sim-info">
          <p><strong>Descrição</strong></p>
          <p>Product description with</p>
        </div>
        <div class="sim-info">
          <p><strong>Agentes</strong></p>
          <p>Product description with</p>
        </div>
      </div>
      <div class="btn-landing-white">
        <%= link_to t(".sign_in", default: "See Results"), new_user_session_path%>
      </div>
    </div>
  </div>
</div>
