.info {
  border-radius: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  border: 1px solid;
  border-color: #0238C0;
  padding: 20px;
  justify-content: space-around;
  text-align: center;
}

body{
  background-color: white;
}
