// .info {
//   border-radius: 10px;
//   margin-bottom: 30px;
//   margin-top: 30px;
//   border: 1px solid;
//   border-color: #0238C0;
//   padding: 20px;
//   justify-content: space-around;
//   text-align: center;
//   box-shadow: 0 0 15px rgba(0,0,0,0.2);
// }
// .h3{
//   text-align: center;
// }

.img-1 {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://images.unsplash.com/photo-1454779132693-e5cd0a216ed3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1651&q=80);
  height: 100vh;
}

.img-2 {
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url(https://images.unsplash.com/photo-1523774294084-94691d7bb289?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80);
  height: 130vh;
}

.img-1, .img-2, .bgimg-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover  !important;
}

.caption {
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.intro{
  position: absolute;
  top: 50%;
  color: #000000;
  font-size: 20px;
  margin-left: 60px;
  margin-right: 60px;
  text-align: justify;
}

.intro .inf {
  position: absolute;
  margin-top: 50px;
  text-align: center;
}


.market{
  position: absolute;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  margin-bottom: 50px;
  width: 100%;
  color:white;
  background-color:#4b545e;
  text-align:center;
  padding:10px 60px;
  text-align: justify;

 p{
  font-weight: lighter;
  }
}


















