abraham
<div class="container">
  <% @case_studies.each do |item|%>
    <div class=row>
      <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="card-product">
          <img src="https://img.icons8.com/nolan/96/000000/stocks.png">
          <div class="card-product-infos">
            <h2> <%= item.name %></h2>
            <div class="sim-info">
              <p><strong>Autor</strong></p>
              <p><%= item.author %></p>
            </div>
            <div class="sim-info">
              <p><strong>Descrição</strong></p>
              <p><%= item.content %> </p>
            </div>
          </div>
           <a class="btn-landing-white" href="<%= item.excel_url %>">Download .xlsx</a>
        </div>
      </div>
    </div>
  <% end%>
</div>

