<h1>Dashboard <img src="https://img.icons8.com/ios/35/000000/menu-filled.png"></h1>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="info">
          <p>Pool Market - Sym</p>
          <h1> <%= @my_simulations.count %> </h1>
          <p> transactions performed </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="info">
          <p>Pool Market - ASym</p>
          <h1> <%= @my_simulations.count %> </h1>
          <p> transactions performed </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="info">
          <p>Balance Market</p>
          <h1> <%= @my_simulations.count %> </h1>
          <p> simulac</p>
        </div>
    </div>
  </div>
</div>


