<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="info">
          <h1> <i class="fas fa-exchange-alt"></i> </h1>
          <h1> <%= @my_simulations.count %> </h1>
          <p> transactions performed </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="info">
          <h1> <i class="fas fa-exchange-alt"></i> </h1>
          <h1> <%= @my_simulations.count %> </h1>
          <p> transactions performed </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="info">
          <h1> <i class="fas fa-exchange-alt"></i> </h1>
          <h1> <%= @my_simulations.count %> </h1>
          <p> transactions performed </p>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="info">
          <h1> <i class="fas fa-exchange-alt"></i> </h1>
          <h1> <%= @my_simulations.count %> </h1>
          <p> transactions performed </p>
        </div>
    </div>
  </div>
</div>


