.form {
  display: flex;
  justify-content: center;
  align-item: center;
  margin-top: 30px;

}
.center{
  text-align: center;
}

.form-control {
  color: #4B4962;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  margin-bottom: 10px;
  width: 300px;
  background: white;
}

.btn-buy-green {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background: #21CD9A;;
  border-radius: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 14px;
  color: #F0F0F0;
  padding: 14px 22px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border: 1px solid #21CD9A;
  opacity: 0.9;
  &:hover, &:focus {
    opacity: 1;
    color: white;
    text-decoration: none;
  }
  a {
    color: white;
  }
}
